body
{
    background-image: url("../images/main1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 180vh;
}
.joinnow
{
    
    padding: 140px 300px;
}
.login
{
    background-color: white;
    padding: 25px 40px;
}
@media screen and (max-width:600px)
{
    .joinnow
{
    padding: 140px 30px;
}
    
}